<title>学生情報登録</title>
<link rel="stylesheet" th:href="@{/css/student_register.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">

<!-- サーバーサイドで base/header.html の header-content フラグメントを挿入 -->
<div id="header-container" th:insert="~{base/header :: header}"></div>

<section class="student-register">
  <h2>学生情報登録</h2>
  <form class="student-form" th:action="@{/student/register}" th:object="${student}" method="post" enctype="multipart/form-data">
    <div class="form-grid">
      <label>入学年度:</label>
        <input type="number" th:field="*{entryYear}" placeholder="例：2025">

      <label>所属学科:</label>
        <select th:field="*{course}">
          <option value="" disabled th:selected="${student.course == null}">選択して下さい</option>
          <option th:each="c : ${courses}" th:value="${c.courseId}" th:text="${c.courseName}"></option>
        </select>

      <label>クラス:</label>
        <select th:field="*{classGroup}">
          <option value="" disabled th:selected="${student.classGroup == null}">選択して下さい</option>
          <option th:each="cl : ${classGroups}" th:value="${cl.classGroupId}" th:text="${cl.classGroup}"></option>
          </option>
        </select>
      
      <label>学生番号:</label>
        <input type="text" th:field="*{userId}" placeholder="例：S12345">


      <label>氏名:</label>
        <input type="text" th:field="*{userName}" placeholder="山田 太郎">

      <label>フリガナ:</label>
        <input type="text" th:field="*{furigana}" placeholder="ヤマダ タロウ">

      <label>生年月日:</label>
        <input type="date" th:field="*{birth}" max="9999-12-31">

      <label>電話番号:</label>
        <input type="tel" th:field="*{tel}" placeholder="例：09012345678">

      <label>メール:</label>
        <input type="email" th:field="*{mail}" placeholder="例：example@school.jp">

      <label>住所:</label>
        <input type="text" th:field="*{address}" placeholder="札幌市中央区...">

      <label>写真:</label>
        <div class="photo-upload">
          <input type="file" name="file" accept="image/*">
        </div>

      <label>パスワード:</label>
        <input type="text" th:field="*{userPass}" placeholder="パスワードを入力">
    </div>

    <div class="form-actions">
      <button type="submit" class="submit-btn">登録完了</button>
    </div>
  </form>

  <!-- 🔽 外部JSを読み込み -->
  <script th:src="@{/js/student_register.js}"></script>
</section>
