<title>学生情報更新</title>
<link rel="stylesheet" th:href="@{/css/student_update.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/js/student_update.js}" defer></script>


<!-- サーバーサイドで base/header.html の header-content フラグメントを挿入 -->
<div id="header-container" th:insert="~{base/header :: header}"></div>

<section class="update-container">
	<h2 th:text="${student.isDisabled} ? '学生情報詳細' : '学生情報更新'"></h2>
	<form id="update-form" th:action="@{'/student/update/' + ${student.userId}}" th:object="${student}" method="post">
		<div class="form-group">
			<label>学生番号:</label>
				<span th:text="*{userId}"></span>

			<label>氏名:</label>
				<div class="form-block">
					<span th:if="${student.isDisabled}" th:text="*{userName}"></span>
					<input th:if="${!student.isDisabled}" type="text" th:field="*{userName}">
					<p class="error-message" th:if="${userNameError}" th:text="${userNameError}"></p>
				</div>

			<label>フリガナ:</label>
				<div class="form-block">
					<span th:if="${student.isDisabled}" th:text="*{furigana}"></span>
					<input th:if="${!student.isDisabled}" type="text" th:field="*{furigana}">
					<p class="error-message" th:if="${furiganaError}" th:text="${furiganaError}"></p>
				</div>

			<label>クラス:</label>
				<span th:text="*{classGroup.classGroup}"></span>

			<label>住所:</label>
				<div class="form-block">
					<span th:if="${student.isDisabled}" th:text="*{address}"></span>
					<input th:if="${!student.isDisabled}" type="text" th:field="*{address}">
					<p class="error-message" th:if="${addressError}" th:text="${addressError}"></p>
				</div>

			<label>在籍状況:</label>
			<div>
				<span th:if="${student.isDisabled}" th:text="${student.enrollmentStatus == '2' ? '卒業' : '退学'}"></span>
				<select th:if="${!student.isDisabled}" id="student-class" th:field="*{enrollmentStatus}">
					<option value="1">在学</option>
					<option value="3">休学</option>
					<option value="4">退学</option>
				</select>
			</div>	
			<label>学生証無効化:</label>
				<input type="checkbox" th:field="*{isDisabled}" th:disabled="${student.isDisabled}">
		</div>
		
		<div class="form-buttons">
			<button th:if="${!student.isDisabled}" type="submit" class="btn">更新</button>
			<a th:href="@{/student/search}" class="btn">戻る</a>
		</div>
	</form>
</section>
