body {
  font-family: "Yu Gothic", "Hiragino Kaku Gothic ProN", sans-serif;
  background-color: #f5faff;
  margin: 0;
  padding: 0;
}


.certificate-container {
  width: 90%;
  margin: 50px auto;
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.text {
  text-align: center;
  margin-top: 20px;
  color: #0c0000;
}

.pending-count {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 25px;
  font-size: 1.1rem;
  color: #555;
}


h2 {
  border-left: 6px solid #2196f3;
  padding-left: 10px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}

th {
  background-color: #e3f2fd;
}

.approve-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.approve-btn:hover {
  background-color: #43a047;
}

.status-approved {
  color: red;
  font-weight: bold;
}
