/* 共通要素 */
section {
  max-width: 900px;
  width: 80%;
  margin:100px auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.student-search-container h2 {
  text-align: center;
  color: #333;
  border-bottom: 1.5px solid rgba(117, 188, 201, 0.8);
  padding-bottom: 10px;
  margin: 0 0 30px 0;
}

/* 検索バー */
.search-bar form{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.search-bar input,
.search-bar select {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.search-bar button {
  background-color: rgba(147, 218, 231, 1);
  color: black;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: rgba(117, 188, 201, 0.8);
}

/* テーブル */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.btn {
  background-color: rgba(147, 218, 231, 1);
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(117, 188, 201, 0.8);
}


