/* 共通要素 */
body {
  font-family: "Noto Sans JP", "Helvetica Neue", sans-serif;
  background-color: rgba(245, 253, 255, 255);
  margin: 0;
  padding: 0;
  color: #2f3542;
}

/* メインコンテナ */
.update-container {
  max-width: 720px;
  width: 90%;
  margin: 100px auto;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 10px 40px;
  border-top: 6px solid rgba(67, 138, 151, 0.8);
}

/* タイトル */
.update-container h2 {
  text-align: center;
  color: #2f3542;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
}

/* フォーム全体 */
.form-group {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 18px 24px;
  align-items: center;
}

/* ラベル */
.form-group label {
  font-weight: 600;
  color: #555;
  margin-bottom: 8px;
}

/* 入力欄 */
.form-group input[type="text"] {
  width: 90%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: 0.2s ease;
}

.form-group input[type="checkbox"] {
  border-color: #4b6584;
  justify-self: start;
}

/* セレクトボックス */
.form-group select {
  width: 90%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  appearance: none;
}

/* 更新ボタン */
.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.update-btn {
  background-color: rgba(147, 218, 231, 1);
  color: black;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 0.5px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transition: all 0.25s ease;
}

.update-btn:hover {
  background-color:  #c0d1e0;
  transform: translateY(-2px);
  box-shadow: 0 2.5px 6px rgba(0,0,0,0.15);
}

/* 戻るリンク */
.cancel {
  align-self: flex-end;
  color: #555;
  transition: all 0.25s ease;
}

.cancel:hover {
  color: #ccc;
}

.error-message {
    color: red;
    font-size: 0.9em;
}
