<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>学校管理システム</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/base.js}"></script>
</head>
<body>
  <!-- サーバーサイドで base/header.html の header-content フラグメントを挿入 -->
    <div id="header-container" th:insert="~{base/header :: header}"></div>
   
    <!-- サーバーサイドで main/main.html の main-content フラグメントを挿入 -->
    <div id="main-container" th:insert="~{/main/main :: main-content}"></div>
</body>
</html>
